img {
	position: absolute;
	bottom: 0;
}

.nav-link:hover {
	color: aqua;
	text-shadow: 0 0 5px aqua;
	transform: scale(1.1) rotate(4deg);
}

.quote {
	position: absolute;
	width: 500px;
	right: 100px;
	top: 300px;
	display: flex;
	flex-direction: column;
	background-color: #0000007F;
	padding: 20px;
	border-radius: 15px;
}

.quote i {
	font-size: 28px;
}

.quote p {
	padding-left: 50px;
	padding-right: 50px;
}

.author {
	font-style: italic;
	opacity: 0.7;
	padding-left: 200px;
}

.fa-quote-right {
	padding-left: 400px;
}
