@media (min-width: 1025px) and (max-width: 1400px) {
	.navbar-nav {
		flex-direction: row !important;
		align-items: center !important;
		justify-content: space-between !important;
	}
	.progress-nav-item {
		width: 55%;
		min-width: 300px;
		max-width: 850px;
		text-align: left;
	}
	.nav-item {
		width: auto;
		max-width: 120px;
		text-align: right;
	}
	#progress {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.logo-responsive {
		max-width: 110px;
		margin-left: 30px;
		margin-right: 0;
		display: block;
	}
}

@media (min-width: 577px) and (max-width: 1024px) {
	.navbar-nav {
		flex-direction: row !important;
		align-items: center !important;
		justify-content: space-between !important;
	}
	.progress-nav-item {
		width: 60%;
		min-width: 300px;
		max-width: 700px;
		text-align: left;
	}
	.nav-item {
		width: auto;
		max-width: 120px;
		text-align: right;
	}
	#progress {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.logo-responsive {
		max-width: 100px;
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
}

:root {
	--family: "JetBrains Mono", Consolas, monospace;
	--checkmark-color: #25976a;
	--btn-transition: color 500ms ease, background-color 500ms ease,
		transform 100ms ease-in, box-shadow 100ms ease-in;
}

@property --progress-width {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

@property --bg-stop-1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #bca9f2;
}

.nav-item {
	max-width: 120px;
	text-align: right;
}

.progress-nav-item {
	width: auto;
	max-width: unset;
	flex: 1 1 0%;
	flex-grow: 1;
	min-width: 1000px;
}

.nav-link:hover {
	color: aqua;
	text-shadow: 0 0 5px aqua;
	transform: scale(1.1) rotate(4deg);
}

.container {
	display: flex;
	width: max-content;
	height: max-content;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.parent {
	width: 100vw;
	min-height: 80vh;
	display: grid;
	grid-template-columns: auto auto;
}

.inl-block {
	width: 100%;
	display: flex;
	margin-top: 10px;
	justify-content: left;
}

.inl-block > * {
	margin-right: 20px;
	z-index: 4;
}

#back:hover {
	cursor: pointer;
}

.codeEdit {
	z-index: 2;
	background-color: black;
	color: white;
	resize: none;
	outline: none;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-family: var(--family);
}

.codeEdit code {
	font-family: var(--family);
}

.codeEdit code:focus {
	outline: none;
}

.codeEdit code:empty::before {
	content: "\200B"; /* zero-width space keeps block clickable */
	display: inline-block;
}

.code-editor-wrap {
	position: relative;
	width: 500px;
	height: 300px;
}

.code-editor-wrap textarea.codeEdit,
.code-editor-wrap pre.codeEdit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	margin: 0;
	border: none;
	font-size: 1rem;
	line-height: 1.5;
	box-sizing: border-box;
	font-family: var(--family);
	white-space: pre-wrap;
}

.code-editor-wrap textarea.codeEdit {
	tab-size: 4;
	background: transparent;
	color: #0000;
	z-index: 4;
	resize: none;
	outline: none;
	caret-color: white;
	padding-top: 26px;
	padding-left: 60.8px;
	padding-right: 8px;
	overflow-y: scroll;
}

.code-editor-wrap textarea.codeEdit::selection {
	background-color: #374151;
	color: white;
	word-wrap: break-word;
}

.code-editor-wrap pre.codeEdit {
	pointer-events: none; /* allow clicks to pass through */
	z-index: 1;
	overflow-y: scroll;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.code-editor-wrap textarea.codeEdit::-webkit-scrollbar {
	opacity: 0;
}

.code-editor-wrap textarea.codeEdit {
	scrollbar-width: none;
}

#logo-img {
	width: 30px;
	height: auto;
}

#runBtn {
	padding: 6px 20px;
	width: 80px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: green;
	color: white;
	border: 2px white solid;
	transition: var(--btn-transition);
	display: inline;
	box-shadow: 0 8px 0 0 rgb(0, 63, 0);
	margin-bottom: 10px;
}

#stopBtn {
	padding: 6px 20px;
	width: 80px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: red;
	color: white;
	border: 2px white solid;
	transition: var(--btn-transition);
	display: inline;
	box-shadow: 0 8px 0 0 rgb(63, 0, 0);
	margin-bottom: 10px;
}

#runBtn:hover {
	background-color: rgb(0, 192, 0);
	transform: translateY(2px);
	box-shadow: 0 6px 0 0 rgb(0, 63, 0);
}

#stopBtn:hover {
	background-color: rgb(255, 63, 63);
	transform: translateY(2px);
	box-shadow: 0 6px 0 0 rgb(63, 0, 0);
}

#runBtn:active {
	background-color: white;
	color: green;
	transform: translateY(8px);
	box-shadow: 0 0 0 0 rgb(0, 63, 0);
}

#stopBtn:active {
	background-color: white;
	color: red;
	transform: translateY(8px);
	box-shadow: 0 0 0 0 rgb(63, 0, 0);
}

#runBtn:disabled,
#stopBtn:disabled {
	background-color: rgb(66, 66, 66);
	color: rgb(123, 123, 123);
	box-shadow: 0 8px 0 0 rgb(0, 0, 0);
	border: 2px rgb(123, 123, 123) solid;
}

#runBtn:disabled:hover,
#stopBtn:disabled:hover {
	background-color: rgb(66, 66, 66);
	color: rgb(159, 159, 159);
	box-shadow: 0 6px 0 0 rgb(0, 0, 0);
	border: 2px rgb(159, 159, 159) solid;
}

#runBtn:disabled:active,
#stopBtn:disabled:active {
	background-color: rgb(66, 66, 66);
	color: rgb(159, 159, 159);
	box-shadow: 0 0 0 0 rgb(0, 0, 0);
	border: 2px rgb(159, 159, 159) solid;
}

#output {
	width: 500px;
	height: 145px;
	resize: none;
	padding: 10px;
	background-color: #11121e;
	z-index: 4;
	margin-top: 10px;
	color: white;
	outline: none;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	font-size: 1rem;
	font-family: var(--family);
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-y: scroll;
}

.code-editor-wrap pre.codeEdit::-webkit-scrollbar,
.code-editor-wrap textarea.codeEdit::-webkit-scrollbar {
	display: none;
}

.code-editor-wrap pre.codeEdit,
.code-editor-wrap textarea.codeEdit {
	scrollbar-width: none; /* for Firefox */
}

#progress {
	width: 100%;
	height: 25px;
	border-radius: 8px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background-color: #4d4fdf7a;
	overflow: hidden;
}

#bar {
	width: var(--progress-width);
	height: 100%;
	background: linear-gradient(90deg, #4caf50, #2196f3);
	border-radius: 8px;
	transition: width 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-responsive {
	max-width: 120px;
	height: auto;
}

#lesson-content {
	width: 500px;
	height: 500px;
	margin-top: 20px;
	/* margin-left: 100px; */
	background-color: var(--bg-stop-1);
	color: black;
	border-radius: 6px;
	padding: 10px;
	z-index: 0;
	overflow-y: scroll;
	justify-self: center;

	transition: --bg-stop-1 800ms ease;
}

#lesson-content > #title {
	text-align: center;
	font-weight: 900;
}

.inl-code, .div-code {
	background-color: #3c3069;
	color: white;
	padding: 4px;
	border-radius: 4px;

	transition: background-color 800ms ease;
}

.code-comment {
	font-style: italic;
	color: #ffffff7d;
	padding: 0;
	z-index: 5;
	background-color: #3c3069;

	transition: background-color 800ms ease;
}

.code-comment::before {
	content: "‎ ";
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px var(--checkmark-color); /* Final shadow for the circle */
	}
}

@media screen and (max-width: 1200px) {
	.collapse {
		justify-content: flex-start;
	}

	.parent {
		grid-template-columns: auto;
	}

	.nav-item {
		width: 400px;
		text-align: left;
	}

	.progress-nav-item {
		width: auto;
		margin-left: 50px;
		min-width: 600px;
		max-width: unset;
		flex: 1 1 0%;
	}

	#progress {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 576px) {
	#progress {
		max-width: 90vw;
		margin-bottom: 10px;
	}

	#lesson-content {
		margin-left: 0;
		margin-bottom: 50px;
	}

	.logo-responsive {
		max-width: 70px !important;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}

	.navbar-nav {
		flex-direction: column !important;
		align-items: center !important;
		justify-content: center !important;
	}

	.nav-item, .progress-nav-item {
		width: 100%;
		max-width: none;
		text-align: center;
		min-width: 400px;
		margin: 0;
	}

	.logo-item {
		min-width: 80px;
	}
}
