* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-dark: #090510;
	--bg-card: #171127;
	--purple-glow: #b026ff;
	--accent-purple: #8b5cf6;
	--accent-done: #bb9eff;
	--accent-cyan: #00ffff;
	--text-light: #e0e0e0;
	--text-dim: #a0a0a0;
}

@property --bg-gradient {
	syntax: "<color>";
	inherits: false;
	initial-value: #210d33;
}

footer {
	text-align: center;
	padding: 20px;
	color: #555;
	border-top: 1px solid #222;
	margin-top: 50px;
	font-size: 0.8rem;
}

#language-btn {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
	border-radius: 4px;
	border: 2px white solid;
	background-color: transparent;
	color: white;
	transition: background-color 500ms ease, transform 500ms ease,
		color 500ms ease;
	z-index: 100;
}

#language-btn:hover {
	color: #3c3069;
	background-color: white;
	transform: scale(1.2);
	cursor: pointer;
}

.navbar {
	background-color: #00000068;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.page-watermark {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	opacity: 0.05;
	pointer-events: none;
	z-index: -1;
	mix-blend-mode: screen;
}

body {
	font-family: "JetBrains Mono", monospace;
	background: radial-gradient(
		circle at center,
		var(--bg-gradient) 0%,
		var(--bg-dark) 70%
	);
	color: var(--text-light);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;

	/* smoother, explicit transitions for theme changes */
	transition: --bg-gradient 800ms ease, background 800ms ease, color 500ms ease;
}

h1,
h2,
.logo,
.nav-links a,
.cta-button {
	font-family: "Cascadia Code", "Consolas", monospace;
	color: var(--text-light);
	font-weight: 900;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 5%;
	width: 100%;
	z-index: 10;
}

.logo {
	font-size: 1.8rem;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.logo-icon {
	height: 40px;
	aspect-ratio: 1;
	margin-right: 15px;
	margin-left: 15px;
	mix-blend-mode: screen;
	filter: drop-shadow(0 0 5px rgba(195, 0, 255, 0.5));
}

.logo span.py-accent {
	color: var(--accent-purple);
	text-shadow: 0 0 10px rgba(195, 0, 255, 0.5);
}

.navbar {
	width: 100%;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 2rem;
	text-align: right;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin-right: 15px;
	margin-bottom: 0;
}

.nav-links a {
	text-decoration: none;
	color: var(--text-light);
	font-size: 1rem;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

.nav-links a.active {
	color: var(--purple-glow);
	text-shadow: 0 0 2px var(--purple-glow);
}

.nav-links a:hover {
	color: var(--accent-cyan);
	text-shadow: 0 0 4px var(--accent-cyan);
}

#dropdown .arrow-icon {
	transition: 0.3s ease;
}

.dropdown-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	position: absolute;
	background-color: #000;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #fff6;
	box-shadow: 0 4px 0 #00000080;
	width: 300px;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.3s ease-in-out;
}

.courses-dropdown.dropdown-active .dropdown-content {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateY(0);
}

.dropdown-content a:hover {
	color: #0084ff;
	text-shadow: 0 0 3px #0084ff;
}

.courses-dropdown.dropdown-active .arrow-icon {
	transform: rotate(180deg);
}

.dropdown-content a:not(:last-child)::after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #333;
	margin: 10px 0;
}

#user-xp {
	color: var(--accent-cyan);
}

#user-xp > * {
	display: inline;
}

footer {
	font-family: "JetBrains Mono", monospace;
}

@media (max-width: 968px) {
	.nav-links {
		flex-direction: column;
		text-align: left;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 15px;
	}

	.dropdown-content {
		position: relative;
		display: none;
	}

	.courses-dropdown.dropdown-active .dropdown-content {
		display: flex;
	}
}
