.nav-link:hover {
	color: aqua;
	text-shadow: 0 0 5px aqua;
	transform: scale(1.1) rotate(4deg);
}

.container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 70vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user-container {
	display: flex;
	flex-direction: row;
	gap: 30px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.actionButton {
	padding: 8px;
	margin: 10px;
	width: 300px;
	background-color: #240964;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	transition: background-color 400ms ease, color 250ms ease,
		transform 100ms ease-in, box-shadow 100ms ease-in;
	box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.5);
}

#deleteAccBtn {
	background-color: #640909;
}

#addClassBtn {
	background-color: #184d2d;
}

.actionButton span,
.actionButton i {
	color: rgba(255, 255, 255, 0.5);
	position: relative;
	transition: 500ms;
}

.actionButton span::after {
	content: "\00bb";
	position: absolute;
	top: -2px;
	right: -20px;
	opacity: 0;
	transition: 500ms;
}

.actionButton:hover {
	background-color: #421c9c;
}

#deleteAccBtn:hover {
	background-color: #9c1c1c;
}

#addClassBtn:hover {
	background-color: #0d7c39;
}

.actionButton:hover span {
	color: white;
	padding-right: 25px;
}

.actionButton:hover i {
	color: white;
}

.actionButton:hover span:after {
	opacity: 1;
	right: 0;
}

.actionButton:active, #addClassBtn:active {
	background-color: white;
	transform: translateY(10px);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.actionButton:active span,
.actionButton:active i {
	color: black;
}

#animated::before {
	content: ">";
	color: aqua;
	margin-right: 1rem;
}

#edit-username {
	background-color: transparent;
	border: none;
	color: white;
	opacity: 0.5;
	transition: opacity 300ms ease;
}

#edit-username:hover {
	opacity: 1;
}

@media screen and (max-width: 1200px) {
	.collapse {
		justify-content: flex-start;
	}
}
