#animated, h3 {
	margin-bottom: 25px;
	z-index: 1;
}

.container {
	display: flex;
	width: 100vw;
	height: 70vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signupBtn {
	padding: 8px;
	margin: 10px;
	width: 350px;
	background-color: #240964;
	color: white;
	border-radius: 5px;
	border: 1px solid white;
	transition: background-color 400ms ease, color 250ms ease,
		transform 100ms ease-in, box-shadow 100ms ease-in;
	box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.signupBtn span,
.signupBtn i {
	color: rgba(255, 255, 255, 0.5);
	position: relative;
	transition: 500ms;
}

.signupBtn span::after {
	content: "\00bb";
	position: absolute;
	top: -2px;
	right: -20px;
	opacity: 0;
	transition: 500ms;
}

.signupBtn:hover {
	background-color: #421c9c;
}

.signupBtn:hover span {
	color: white;
	padding-right: 25px;
}

.signupBtn:hover i {
	color: white;
}

.signupBtn:hover span:after {
	opacity: 1;
	right: 0;
}

.signupBtn:active {
	background-color: white;
	transform: translateY(10px);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.signupBtn:active span,
.signupBtn:active i {
	color: black;
}

@media screen and (max-width: 1200px) {
	.collapse {
		justify-content: flex-start;
	}
}
